* {
  font-family: 'Lexend', sans-serif;
  margin: 0px;
}
html {
  height: 100vh;
}
body {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🐱‍🚀</text></svg>") 16 0,auto; /*!emojicursor.app*/
  background-color: rgb(19, 19, 19);
  color: rgb(218, 218, 218);
  height: 100%;
}
header {
  background-color: rgb(14, 14, 14);
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
}
header h1 {
  font-size: 30px;
}
main {
  background-color: rgb(32, 32, 32);

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  
  padding-top: 40px !important;
  justify-content: space-between;
  gap: 20px;
}
main #contentbar {
  display: flex;

  gap: 20px;
  align-items: center;
  flex-direction: column;


}
a {
  text-decoration: none;
  color: rgb(0, 174, 255);
}
a:hover {
  color: rgb(0, 200, 255);
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🐱‍🏍</text></svg>") 16 0,auto !important;
}
.layout {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: calc(100vh - 60px);
  overflow: auto;
}
.layout main, .layout>div {
  padding: 20px;
}
#fact {
  text-align: center;
  font-size: 20px;
}
#actionbar {
  display: flex;
  background-color: rgb(48, 48, 48);
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  gap: 5px;
}
#actionbar div {
  display: flex;
  gap: 5px;
  align-items: center;
}
#historycount {
  padding-left: 10px;
}
#actionbar button {
  all: unset;
  background-color: rgb(69, 69, 69);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 24px;
}
#actionbar button span:only-child {
  width: 24px !important;
}
button {
  user-select: none !important;
  display: inline-flex !important;
  overflow: hidden !important;
}
button:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🐱‍🏍</text></svg>") 16 0,auto !important;
  background-color: rgb(79, 79, 79) !important;
}
button:disabled {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>😾</text></svg>") 16 0,auto !important;
  background-color: rgb(45, 45, 45) !important;
}
.hidden {
  display: none !important;
}

.historytab {
  height: calc(100vh - 120px);
  box-sizing: border-box;
}
#historylist {
  list-style: none;
  padding: 0px;
  height: calc(100vh - 210px);
  overflow-y: auto;
  margin-top: 20px;
}
#historylist > li:nth-child(odd) {
  background-color: rgb(36, 36, 36);
}
#historylist > li:nth-child(even) {
  background-color: rgb(51, 51, 51);
}
#historylist > li {
  display: grid;
  grid-template-columns: auto 24px 24px;
  align-items: center;
  padding: 5px;
}
.chosen-fact {
  background-color: rgb(24, 24, 24) !important;
}
#historylist > li:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🐱‍🏍</text></svg>") 16 0,auto !important; /*!emojicursor.app*/
  background-color: rgb(57, 57, 57);
}
#historylist > li > button {
  all: unset;
  display: inline-flex;
  overflow: hidden;
}
#historylist > li > span {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 50%; */
  display: inline-block;
}
#starredchip {
  all: unset;
  display: flex;
  align-items: center;
  background-color: rgb(42, 42, 42);
  padding: 5px;
}
.h2-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#starredchip.active {
  background-color: rgb(98, 98, 98) !important;
}
#starredchip {
  width: 24px;
}

@media screen and (width <= 999px) {
  .layout {
    grid-template-columns: auto;
    height:  calc(100vh - 120px);
  }
  /* #about {
    display: none;
  }
  .historytab {
    display: none;
  } */
  #mobile-nav {
    display: flex !important;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: rgb(14, 14, 14);
  }
  .mobile-nav-btn {
    all: unset;
    display: flex;
    width: 100%;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobile-nav-btn:hover {
    background-color: rgb(44, 44, 44);
  }
  .mobile-nav-btn-active {
    background-color: rgb(65, 65, 65) !important;
  }
}

@media screen and (width > 999px) {
  #about {
    display: block !important;
  }
  .historytab {
    display: block !important;
  }
  main {
    display: flex !important;
  }
  main.hidden {
    display: flex !important;
  }
}